<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.statement.mapper.sytsMapper">

	<select id="getSyts" resultType="Syts" parameterType="String">
		select tdbh,sum(syts) as sumSyts from ls_mtsms where 
		zt=1 and fsrq=#{fsrq}  and tdbh is not null 
		group by tdbh order by tdbh
	</select>

</mapper>


